DATABASE_URL="postgresql://usuario:contraseña@host:5432/railway?sslmode=require"
JWT_SECRET="tu-clave-secreta-muy-larga-aqui-2024"
ADMIN_PASSWORD="admin-pichanga-2024"
NEXT_PUBLIC_PLATFORM_NAME="Pichanga"
NEXT_PUBLIC_COMMISSION=10
CULQI_SECRET_KEY="sk_live_..."
NEXT_PUBLIC_CULQI_PUBLIC_KEY="pk_live_..."
